
<table id='forum-feed'>
<tr><td colspan="2" style="font-size:medium; padding-bottom:10px;"><strong><a href="https://forum.dropsource.com">Dropsource Forum Activity</a></strong></td></tr>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script type="text/javascript">
fetch('https://forum.dropsource.com/posts.json', {headers:{'Content-Type':'application/json'
  }}).then(function(response) { 
    return response.json();
  }).then(function(forumJson) {
  	console.log('posts '+forumJson.latest_posts.length);
    console.log(JSON.stringify(forumJson)); 
    var forumOutput='';
    var i;
    for(i=0; i<forumJson.latest_posts.length && i<10; i++){
    	forumOutput+='<tr><td style="width:100px;">';
    	var avatar=forumJson.latest_posts[i].avatar_template.replace('{size}', '240');
    	forumOutput+='<img src="https://forum.dropsource.com'+avatar+'" width="70px" style="border-radius:35px"/></td><td><p><strong><a href="https://forum.dropsource.com/'+forumJson.latest_posts[i].topic_slug+'/'+forumJson.latest_posts[i].id+'/'+forumJson.latest_posts[i].post_number+'">'+forumJson.latest_posts[i].topic_title+'</a></strong></p>';
    	forumOutput+='<p><strong><a href="https://forum.dropsource.com/u/'+forumJson.latest_posts[i].username+'">@'+forumJson.latest_posts[i].username+'</a></strong>: ';
    	forumOutput+=forumJson.latest_posts[i].raw.substring(0, 500)+'...</p></td></tr>';
    }
    forumOutput+='</table>';
    $('#forum-feed').append(forumOutput);
	});

</script>

</table>