
<table id='forum-feed'>
<tr><td colspan="2" style="font-size:medium; padding-bottom:10px;"><strong><a href="https://forum.dropsource.com">Dropsource Forum Activity</a></strong></td></tr>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script type="text/javascript">
fetch('https://forumtest.dropsource.com/posts.json', {headers:{'Content-Type':'application/json'
  }}).then(function(response) { 
    return response.json();
  }).then(function(forumJson) {
    console.log(JSON.stringify(forumJson)); 
    var forumOutput='';
    var i;
    for(i=0; i<forumJson.latest_posts.length && i<10; i++){
    	forumOutput+='<tr><td>';
    	forumOutput+=forumJson.latest_posts[i].username;
    	forumOutput+='</td></tr>';
    }
    forumOutput+='</table>';
    $('#forum-feed').append(forumOutput);
	});



</script>

</table>