<div id="repos">
<script type="text/javascript">
fetch('https://api.github.com/repos/dropsource/sample-specifications', {headers:{'Content-Type': 'application/json'}})
  	.then(function(response) { return response.json(); })
  	.then(function(ghJson) { $('#repos').append(projectContent(ghJson));
});
fetch('https://api.github.com/repos/dropsource/api-starter', {headers:{ 'Content-Type': 'application/json' }})
  	.then(function(response) { return response.json(); })
  	.then(function(ghJson) { $('#repos').append(projectContent(ghJson)); 
});
fetch('https://api.github.com/repos/dropsource/serverless-todo-api-example-complete', {headers:{'Content-Type': 'application/json'}})
  	.then(function(response) { return response.json(); })
  	.then(function(ghJson) { $('#repos').append(projectContent(ghJson)); 
});
function projectContent(project){
	var output='<div class="repo">';
	output+='<img src="assets/svg/repo.svg" width="20px"/>';
	output+='<p style="word-wrap:break-all"><strong><a href="'+project.html_url+'">'+project.name+'</a></strong></p>';
	output+='<p>'+project.description+'</p>';
	output+='<p><img src="assets/svg/eye.svg" width="10px" height="10px"/> '+project.watchers_count+' &nbsp; <img src="assets/svg/repo-forked.svg" width="10px" height="10px"/> '+project.forks_count+' &nbsp; <img src="assets/svg/star.svg" width="10px" height="10px"/> '+project.stargazers_count+'</p>';
	output+='</div>';
	return output;
}
</script>
</div>
