<div id="gh-feed"></div>
<script type="text/javascript">
fetch('https://api.github.com/orgs/dropsource/events', {headers:{
    'Content-Type': 'application/json'
  }})
  .then(function(response) {
    return response.json();
  })
  .then(function(ghJson) {
    var ghOutput='<table class="gh-table"><tbody><tr class="gh-head"><td class="ghuser-cell"><img src="https://avatars1.githubusercontent.com/u/14957781" width="50px"/></td><td class="gh-title"><div class="gh-ds"><p><strong><a href="https://github.com/dropsource">Dropsource on GitHub</a></strong></p></div><div class="octo-cell"><img src="assets/svg/mark-github.svg" style="width:40px"/></div></td></tr>';
    var i;
    for(i=0; i<ghJson.length && i<10; i++){ //restrict length or scroll
    	var actor = ghJson[i].actor.url.substring(ghJson[i].actor.url.lastIndexOf('/')+1);
		var ghInfo=getOcti(ghJson[i].type, ghJson[i].payload.ref_type);
    	ghOutput+='<tr><td class="repo-content">';
    	ghOutput+='<a href="https://github.com'+ghJson[i].actor.url.substring(ghJson[i].actor.url.lastIndexOf('/'))+'"><img class="gh-avatar" src="'+ghJson[i].actor.avatar_url+'" width="40px"/><a/></td>';
    	ghOutput+='<td><p><img class="gh-svg" src="assets/svg/'+ghInfo.img+'.svg"/> '+new Date(ghJson[i].created_at).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' })+' <strong><a class="actor-link" href="https://github.com/'+actor+'">@'+actor+'<a/></strong>'+ghInfo.message+'</p>';
    	ghOutput+='<p><strong><a href="https://github.com/'+ghJson[i].repo.name+'">'+ghJson[i].repo.name+'</a></strong>';
    	ghOutput+='</p></td></tr>';
    }
    ghOutput+='</tbody></table>';
    $('#gh-feed').append(ghOutput);
  });
  
  function getOcti(eventType, refType){
  	var eventDetail={};
  	switch(eventType){
  		case 'ForkEvent': 
  			eventDetail.img='repo-forked'; 
  			eventDetail.message=' forked '; 
  			break;
  		case 'ReleaseEvent': 
  			eventDetail.img='tag'; 
  			eventDetail.message=' released '; 
  			break;
  		case 'PushEvent': 
  			eventDetail.img='repo-push'; 
  			eventDetail.message=' pushed to '; 
  			break;
  		case 'WatchEvent': 
  			eventDetail.img='eye'; 
  			eventDetail.message=' watched '; 
  			break;
  		case 'IssueCommentEvent': 
  			eventDetail.img='comment'; 
  			eventDetail.message=' commented on '; 
  			break;
  		case 'CommitCommentEvent': 
  			eventDetail.img='comment'; 
  			eventDetail.message=' commented on '; 
  			break;
  		case 'IssuesEvent': 
  			eventDetail.img='issue-opened'; 
  			eventDetail.message=' created an issue on '; 
  			break;
  		case 'PullRequestEvent': 
  			eventDetail.img='git-pull-request'; 
  			eventDetail.message=' opened a pull request on '; 
  			break;
  		case 'GollumEvent': 
  			eventDetail.img='repo'; 
  			eventDetail.message=' edited the wiki on '; 
  			break;
  		case 'CreateEvent': switch(refType){
  				case 'repository': 
  					eventDetail.img='repo'; 
  					eventDetail.message=' created repository '; 
  					break;
  				case 'branch': 
  					eventDetail.img='git-branch'; 
  					eventDetail.message=' created a branch on '; 
  					break;
  				case 'tag': 
  					eventDetail.img='tag'; 
  					eventDetail.message=' created a tag on '; 
  					break;
  			}
  			break;
  		default: 
  			eventDetail.img='octoface'; 
  			eventDetail.message=''; 
  			break;
  	}
  	return eventDetail;
  }
</script>