<div id="mediumPosts">

<script type="text/javascript">
fetch('https://ds-community.herokuapp.com/medium').then(function(response) { 
    return response.json();
  }).then(function(mediumJson) { 
    var mediumOutput='';
    var i;
//    var postKeys=Object.keys(mediumJson); 
    for(i=0; i<mediumJson.length && i<6; i++){
    	var currPost=mediumJson[i];
    	mediumOutput+="<div class='medium-post'><div class='img-container'><img src='https://cdn-images-1.medium.com/"+currPost.img+"' width='100%'/></div><strong><a href='https://medium.com/@dropsource/"+currPost.link+"'>"+currPost.title+"</a></strong><br/><em>by <a href='https://medium.com/@"+currPost.username+"'>@"+currPost.username+"</a></em><p>"+currPost.subtitle+"</p></div>";
    }
    $('#mediumPosts').append(mediumOutput);
});
</script>
</div>